
.uiInfoPanel {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	border-radius: 8px;
	padding: 1px;
}
.uiInfoPanel .uiPanel-titleBar {
	background: rgba(74, 74, 74, 0.75);
	background: -moz-linear-gradient(top, rgba(84, 84, 84, 0.75), rgba(54, 54, 54, 0.75), rgba(64, 64, 64, 0.75));
	background: -webkit-linear-gradient(top, rgba(84, 84, 84, 0.75), rgba(54, 54, 54, 0.75), rgba(64, 64, 64, 0.75));
	border-radius: 8px 8px 0 0;
	padding: 1px 0 2px 0;
	border-bottom: 0;
}
.uiInfoPanel .uiPanel-close {
	border-radius: 6px;
	height: 13px;
	width: 13px;
	background: #ccc;
	left: 3px;
	top: 1px;
	color: #333;
	text-shadow: #222 0 0 1px;
	line-height: 11px;
	border: 0;
	padding: 0;
}
.uiInfoPanel .uiPanel-close:hover {
	background: #eee;
}

.uiInfoPanel .uiPanel-body {
	background: transparent;
	padding: 20px;
	border-radius: 0 0 8px 8px;
	border: 1px solid #222;
}
