.uiToolbar {
	height: 28px;
	background: #fdfefe;
	background: -moz-linear-gradient(top, #fdfefe, #eaedef);
	background: -webkit-linear-gradient(top, #fdfefe, #eaedef);
	border-bottom: 1px solid #d2d5d7;
	padding: 3px 10px;
}

.uiToolbar H2 {
	display: inline-block;
	font-size: 120%;
	margin: 0;
	padding: 5px 20px 5px 0;
}

.uiToolbar .uiTextField {
	display: inline-block;
}

.uiToolbar .uiTextField INPUT {
	padding-top: 2px;
	padding-bottom: 5px;
}