.uiAnyRequest-request {
	float: left;
	width: 350px;
	padding: 5px;
	background: #d8e7ff;
	background: -moz-linear-gradient(left, #d8e7ff, #e8f1ff);
	background: -webkit-linear-gradient(left, #d8e7ff, #e8f1ff);
}

.uiAnyRequest-request INPUT[type=text],
.uiAnyRequest-request TEXTAREA {
	width: 340px;
}

.anyRequest INPUT[name=path] {
	width: 259px;
}

.uiAnyRequest-out {
	margin-left: 365px;
}

.uiAnyRequest-out P {
	margin-top: 0;
}

.uiAnyRequest-jsonErr {
	color: red;
}

.uiAnyRequest-history {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}
