.uiJsonPanel SPAN.uiJsonPretty-string { color: #6F6; }
.uiJsonPanel SPAN.uiJsonPretty-number { color: #66F; }
.uiJsonPanel SPAN.uiJsonPretty-null { color: #F66; }
.uiJsonPanel SPAN.uiJsonPretty-boolean { color: #F6F; }
