TABLE.table {
	border-collapse: collapse;
}


TABLE.table TH {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

TABLE.table TBODY.striped TR:nth-child(odd) {
	background: #eee;
}

TABLE.table H3 {
	margin: 0;
	font-weight: bold;
	font-size: 140%;
}
