.uiHeader * {
	box-sizing: border-box;
	font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
}

.uiHeader {
	font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #2c3e50;

	display: -webkit-box;
	height: 50px;
	background: #2c3e50;
	padding: 0px 20px;
	border: 1px solid #233140;
	border-radius: 6px;
	color: #ffffff;
	margin: 35px;
}

.uiHeader H1 {
	font-size: 20px;
	padding: 15px 20px 15px 0;
	margin: 0;
	font-weight: normal;
}

.uiHeader FORM {
	padding: 11px 20px;
}

.uiHeader INPUT {
	display: block;
	border: 0;
	padding: 4px 14px;
	font-size: 13px;
	border-radius: 15px;
	width: 156px;
	height: 28px;
	color: #95a5a6;
	vertical-align: middle;
	outline: 0;
}

.uiHeader BUTTON {
	background: transparent;
	display: block;
	border: 0;
	height: 28px;
	font-size: 13px;
	padding: 4px 14px;
	vertical-align: middle;
	color: white;
}

.uiHeader BUTTON:hover {
	color: #1abc9c;
}

.uiHeader HGROUP {
	display: -webkit-box;
	padding: 11px 20px;
}

.uiHeader HGROUP > * {
	border-radius: 0;
	margin: 0;
}

.uiHeader HGROUP > :first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}


.uiHeader HGROUP > :last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

