.uiApp-header {
	background: #eee;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.uiApp-header H1 {
	margin: -2px 0 -4px 0;
	float: left;
	padding-right: 25px;
}

.uiApp-headerMenu {
	border-bottom: 1px solid #bbb;
	padding: 0px 3px;
	height: 22px;
}

.uiApp-headerMenu .active {
	background: white;
	border-bottom-color: white;
}

.uiApp-headerMenuItem {
	border: 1px solid #bbb;
	padding: 4px 8px 1px ;
	margin: 2px 1px 0;
	height: 14px;
	cursor: pointer;
}

.uiApp-body {
	padding: 51px 0px 0px 0px;
}

.uiApp-headerNewMenuItem {
	color: blue;
}
