.es-header {
	background: #eee;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.es-header H1 {
	margin: -2px 0 -4px 0;
	float: left;
	padding-right: 25px;
}

.es-header-menu {
	border-bottom: 1px solid #bbb;
	padding: 0px 3px;
	height: 22px;
}

.es-header-menu .active {
	background: white;
	border-bottom-color: white;
}

.es-header-menu-item {
	border: 1px solid #bbb;
	padding: 4px 8px 1px ;
	margin: 2px 1px 0;
	height: 14px;
	cursor: pointer;
}
.es-body {
	padding: 51px 0px 0px 0px;
}

