.clusterOverview-cluster {
	border-collapse: collapse;
}
.clusterOverview-cluster TH,
.clusterOverview-cluster TD {
	vertical-align: top;
	padding: 2px 20px;
}

.clusterOverview TH {
	font-weight: normal;
	text-align: left;
}

.clusterOverview TH.close,
.clusterOverview TD.close {
	color: #888;
	background: #f2f2f2;
}

.clusterOverview-node.master {
	background: #fff8dd;
}

.clusterOverview-title {
	font-weight: bold;
	font-size: 140%;
}
.clusterOverview-routing {
	position: relative;
}
.clusterOverview-nullReplica,
.clusterOverview-replica {
	cursor: pointer;
	float: left;
	height: 40px;
	width: 31px;
	margin: 4px;
	border: 2px solid #444;
	font-size: 32px;
	text-align: center;
	letter-spacing: -5px;
	text-indent: -7px;
}
.clusterOverview-replica.primary {
	border-width: 4px;
	margin: 2px;
}

.clusterOverview-nullReplica {
	border-color: transparent;
}
.clusterOverview-hasAlias {
	text-align: center;
}
.clusterOverview-hasAlias.max {
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.clusterOverview-hasAlias.min {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.clusterOverview-hasAlias-remove {
	float: right;
	font-weight: bold;
	cursor: pointer;
}
.clusterOverview-replica.state-UNASSIGNED { background: #eeeeee; color: #999; border-color: #666; float: none; display: inline-block; }
.clusterOverview-replica.state-INITIALIZING { background: #dddc88; }
.clusterOverview-replica.state-STARTED { background: #99dd88; }
.clusterOverview-replica.state-RELOCATING { background: #dc88dd; }
