DIV.uiJsonPretty-object { font-size: 1.26em; font-family: monospace; }
UL.uiJsonPretty-object,
UL.uiJsonPretty-array { margin: 0; padding: 0 0 0 2em; list-style: none; }
UL.uiJsonPretty-object LI,
UL.uiJsonPretty-array LI { padding: 0; margin: 0; }
.expando > SPAN.uiJsonPretty-name:before { content: "\25bc\a0"; color: #555; position: relative; top: 2px; }
.expando.uiJsonPretty-minimised > SPAN.uiJsonPretty-name:before { content: "\25ba\a0"; top: 0; }
.uiJsonPretty-minimised > UL SPAN.uiJsonPretty-name:before,
.expando .uiJsonPretty-minimised > UL SPAN.uiJsonPretty-name:before { content: ""; }
SPAN.uiJsonPretty-string,
SPAN.uiJsonPretty-string A { color: green; }
SPAN.uiJsonPretty-string A { text-decoration: underline;}
SPAN.uiJsonPretty-number { color: blue; }
SPAN.uiJsonPretty-null { color: red; }
SPAN.uiJsonPretty-boolean { color: purple; }
.expando > .uiJsonPretty-name { cursor: pointer; }
.expando > .uiJsonPretty-name:hover { text-decoration: underline; }
.uiJsonPretty-minimised { white-space: nowrap; overflow: hidden; }
.uiJsonPretty-minimised > UL { opacity: 0.6; }
.uiJsonPretty-minimised .uiJsonPretty-minimised > UL { opacity: 1; }
.uiJsonPretty-minimised UL, .uiJsonPretty-minimised LI { display: inline; padding: 0; }

