.uiNodesView TH,
.uiNodesView TD {
	vertical-align: top;
	padding: 2px 20px;
}

.uiNodesView TH.close,
.uiNodesView TD.close {
	color: #888;
	background: #f2f2f2;
}

.uiNodesView .uiMenuButton .uiButton-content {
	padding-right: 3px;
	border-radius: 8px;
	height: 14px;
}

.uiNodesView .uiMenuButton.active .uiButton-content,
.uiNodesView .uiMenuButton:active .uiButton-content {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.uiNodesView .uiMenuButton .uiButton-label {
	padding: 0px 17px 0px 7px;
}

.uiNodesView-hasAlias {
	text-align: center;
}
.uiNodesView-hasAlias.max {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.uiNodesView-hasAlias.min {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.uiNodesView-hasAlias-remove {
	float: right;
	font-weight: bold;
	cursor: pointer;
}

.uiNodesView TD.uiNodesView-icon {
	padding: 20px 0px 15px 20px;
}

.uiNodesView-node:nth-child(odd) {
	background: #eee;
}

.uiNodesView-routing {
	position: relative;
	min-width: 90px;
}

.uiNodesView-nullReplica,
.uiNodesView-replica {
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	height: 40px;
	width: 35px;
	margin: 4px;
	border: 2px solid #444;
	padding: 2px;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -5px;
	text-indent: -7px;
}

.uiNodesView-replica.primary {
	border-width: 4px;
	line-height: 29px;
}

.uiNodesView-nullReplica {
	border-color: transparent;
}

.uiNodesView-replica.state-UNASSIGNED { background: #eeeeee; color: #999; border-color: #666; float: none; display: inline-block; }
.uiNodesView-replica.state-INITIALIZING { background: #dddc88; }
.uiNodesView-replica.state-STARTED { background: #99dd88; }
.uiNodesView-replica.state-RELOCATING { background: #dc88dd; }
