.uiMenuButton {
	display: inline-block;
}

.uiMenuButton.active .uiButton-content,
.uiMenuButton:active .uiButton-content {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.uiMenuButton .uiButton-content {
	padding-right: 3px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	height: auto;
	min-width: 0;
}
.uiMenuButton .uiButton-label {
	background-image: url('images/menu-button.gif');
	background-position: right 50%;
	background-repeat: no-repeat;
	padding: 0px 17px 0px 5px;
	text-align: left;
}
