.uiMenuButton {
	display: inline-block;
}

.uiMenuButton .uiButton-label {
	background-image: url('data:image/gif;base64,R0lGODlhDwAPAIABAP///////yH5BAEAAAEALAAAAAAPAA8AAAITjI+py+0P4wG0gmavq1HLD4ZiAQA7');
	background-position: right 50%;
	background-repeat: no-repeat;
	padding-right: 17px;
	text-align: left;
}
