#uiModal {
	background: black;
}

.uiPanel {
	box-shadow: -1px 2.5px 4px -3px black, -1px -2.5px 4px -3px black, 3px 2.5px 4px -3px black, 3px -2.5px 4px -3px black;
	position: absolute;
	background: #eee;
	border: 1px solid #666;
}

.uiPanel-titleBar {
	text-align: center;
	font-weight: bold;
	padding: 2px 0;
	background: rgba(223, 223, 223, 0.75);
	background: -moz-linear-gradient(top, rgba(223, 223, 223, 0.75), rgba(193, 193, 193, 0.75), rgba(223, 223, 223, 0.75));
	background: -webkit-linear-gradient(top, rgba(223, 223, 223, 0.75), rgba(193, 193, 193, 0.75), rgba(223, 223, 223, 0.75));
	border-bottom: 1px solid #bbb;
}

.uiPanel-close {
	cursor: pointer;
	border: 1px solid #aaa;
	background: #fff;
	color: #fff;
	float: left;
	height: 10px;
	left: 3px;
	line-height: 9px;
	padding: 1px 0;
	position: relative;
	text-shadow: 0 0 1px #000;
	top: 0px;
	width: 12px;
}
.uiPanel-close:hover {
	background: #eee;
}

.uiPanel-body {
	overflow: auto;
}
