/* acx.ui.*Panel */
#uiModal {
	background: black;
}

.uiPanel {
	-moz-box-shadow: -1px 2.5px 4px -3px black, -1px -2.5px 4px -3px black, 3px 2.5px 4px -3px black, 3px -2.5px 4px -3px black;
	position: absolute;
	background: #eee;
	border: 1px solid #666;
}

.uiPanel-titleBar {
	text-align: center;
	font-weight: bold;
	padding: 2px 0;
	background: rgba(223, 223, 223, 0.75);
	background: -moz-linear-gradient(top, rgba(223, 223, 223, 0.75), rgba(193, 193, 193, 0.75), rgba(223, 223, 223, 0.75));
	background: -webkit-linear-gradient(top, rgba(223, 223, 223, 0.75), rgba(193, 193, 193, 0.75), rgba(223, 223, 223, 0.75));
	border-bottom: 1px solid #bbb;
}

.uiPanel-close {
	cursor: pointer;
	border: 1px solid #aaa;
	background: #fff;
	color: #fff;
	float: left;
	height: 10px;
	left: 3px;
	line-height: 9px;
	padding: 1px 0;
	position: relative;
	text-shadow: 0 0 1px #000;
	top: 0px;
	width: 12px;
}
.uiPanel-close:hover {
	background: #eee;
}

.uiPanel-body {
	overflow: auto;
}

.dark.uiPanel {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 1px;
}
.dark .uiPanel-titleBar {
	background: rgba(74, 74, 74, 0.75);
	background: -moz-linear-gradient(top, rgba(84, 84, 84, 0.75), rgba(54, 54, 54, 0.75), rgba(64, 64, 64, 0.75));
	background: -webkit-linear-gradient(top, rgba(84, 84, 84, 0.75), rgba(54, 54, 54, 0.75), rgba(64, 64, 64, 0.75));
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	padding: 1px 0 2px 0;
	border-bottom: 0;
}
.dark .uiPanel-close {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	height: 13px;
	width: 13px;
	background: #ccc;
	left: 3px;
	top: 1px;
	color: #333;
	text-shadow: #222 0 0 1px;
	line-height: 11px;
	border: 0;
	padding: 0;
}
.dark .uiPanel-close:hover {
	background: #eee;
}

.dark .uiPanel-body {
	background: transparent;
	padding: 20px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border: 1px solid #222;
}
