.uiSplitButton {
	white-space: nowrap;
}

.uiSplitButton .uiButton:first-child {
	margin-right: 0;
	display: inline-block;
}

.uiSplitButton .uiButton:first-child .uiButton-content {
	border-right-width: 1;
	border-right-color: #5296c7;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.uiSplitButton .uiMenuButton {
	margin-left: 0;
}

.uiSplitButton .uiButton:last-child .uiButton-content {
	border-radius: 2px;
	border-left-width: 1;
	border-left-color: #96c6eb;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 20px;
}

.uiSplitButton .uiButton:last-child .uiButton-label {
	padding: 2px 17px 2px 6px;
	margin-left: -8px;
}
