.uiMenuPanel {
	border: 1px solid #668dc6;
	position: absolute;
	background: #96c6eb;
	color: white;
}

.uiMenuPanel LI {
	list-style: none;
	border-bottom: 1px solid #668dc6;
}

.uiMenuPanel LI:hover {
	background: #2575b7;
}

.uiMenuPanel LI:last-child {
	border-bottom: 0;
} 

.uiMenuPanel-label {
	white-space: nowrap;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
}

.disabled .uiMenuPanel-label {
	cursor: auto;
	color: #888;
}
